<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/add-edit.css}"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h3> Edit Contact</h3>
<section style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;width:60%">
    <form action="#" th:action="@{/editContact}" th:object="${contact}" method="post">
        <section>
            <label for="firstName">First Name</label>
            <input type="text" th:field="*{firstName}"
                   id="firstName" placeholder="First Name"/>
        </section>
        <section>
            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}"
                   id="lastName" placeholder="Last Name"/>
        </section>
        <section>
            <label for="email">Email</label>
            <input type="text" th:field="*{email}"
                   id="email" placeholder="Email Id" style="margin-left:38px">
        </section>
        <section>
            <label for="phone">Phone No.</label>
            <input type="text" th:field="*{phone}"
                   id="phone" placeholder="Phone Number" style="margin-left:2px">
        </section>


        <input type="submit" value=" Submit" style="float: right;">
        <a class="makeBtn" href="/getAllContacts">Back</a>
        <input type="hidden" id="id" th:field="*{id}" onclick="/">

    </form>
</section>
</body>

</html>